.logo {
  display: block;
  width: 2.5rem;
}

.image {
  display: block;
  height: auto;
  object-fit: contain;
}

.dark {
  display: none;
}

.forceLight .light {
  display: none;
}

.forceLight .dark {
  display: block;
}

:root[data-theme="dark"] .logo:not(.forceLight) .light {
  display: none;
}

:root[data-theme="dark"] .logo:not(.forceLight) .dark {
  display: block;
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme]) .logo:not(.forceLight) .light {
    display: none;
  }

  :root:not([data-theme]) .logo:not(.forceLight) .dark {
    display: block;
  }
}
